@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.animateBg {
  animation: backgroundZoom 15s infinite ease-in-out;
  background-repeat: no-repeat;
  background-position: center;
}

@keyframes backgroundZoom {
  0%, 100% {
    background-size: 110%;
  }
  50% {
    background-size: 120%;
  }
}